<% provide(:page_title, 'Listing Slots') %>
<div id="container">
  <div class="page-header">
    <h2>I GOT TALENT <small>SCHEDULE</small></h2>
  </div>

  <p id="notice"><%= notice %></p>

    <p><em>I Got Talent</em> events for today.</p>

  <table class="table">
    <thead>
      <tr>
        <th>Start time</th>
        <th>End time</th>
        <!--<th>Type</th>-->
        <th>Genre</th>
        <th>User</th>
        <th>Video</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @slots.each do |slot| %>
        <tr class="<%= 'success' if slot.video and live?(slot) %> <%= 'active' if slot.video and !live?(slot) %>">
          <td><%= slot.start_time %></td>
          <td><%= slot.end_time %></td>
          <!--<td><%= slot.type %></td>-->
          <td><%= slot.genre %></td>
            <td><%= slot.user.email if slot.user %></td>
          <td><%= link_to video_url(slot), slot.video %></a></td>
          <td>
            <% if slot.video  and !live?(slot) %>
              <button type="button" class="btn btn-default btn-md" onclick="location.href='<%= slot_url(slot) %>'">
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span> View
              </button>
            <!-- <%= link_to 'View', edit_slot_path(slot), class: 'btn btn-default' %></td> -->
            <% end %>
          <td>
            <button type="button" class="btn btn-default btn-md" <%= 'disabled' unless slot.video and live?(slot) %>
                    onclick="location.href='<%= video_url(slot.video) if slot.video and live?(slot) %>'">
              <span class="glyphicon glyphicon-hd-video" aria-hidden="true"></span> Stream
            </button>
          </td>
          <td>
            <% unless slot.video %>
              <button type="button" class="btn btn-default btn-md"  onclick="location.href='/slots/<%= slot.id %>/video/edit'">
                <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> SHARE
              </button>
            <% end %>
          </td>

          <!--<td><%= link_to 'Destroy', slot, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>-->
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

<%= link_to '+New Time Slot', new_slot_path, class: "btn btn-warning" %>

</div>