<% provide(:page_title, 'Show Slot') %>
<div id="container">
  <div class="page-header">
    <h1>I GOT TALENT <small>Show Slot</small></h1>
  </div>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Start time:</strong>
    <%= @slot.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= @slot.end_time %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @slot.type %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= @slot.genre %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @slot.user.name if @slot.user %>
  </p>

  <% if(@slot.video) %>
    <p>
      <strong>Video:</strong>
      <%= link_to video_url(@slot), @slot.video %></a>
    </p>
    <iframe width="560" height="315" src="<%= "https://www.youtube.com/embed/#{youtube_video_id}" %>" frameborder="0" allowfullscreen></iframe>
  <% else %>
    <span class="label label-primary">EMPTY SLOT</span>
      <br/>
      <br/>

      <button type="button" class="btn btn-default btn-md">
        <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> <%= link_to 'SHARE VIDEO NOW!', edit_slot_path(@slot) %>
      </button>

  <% end %>

  <br/>
  <br/>

  <%= link_to 'Edit', edit_slot_path(@slot) %> |
  <%= link_to 'Back', slots_path %>
</div>