<% provide(:page_title, 'User Profile') %>
<div id="container">
  <div class="page-header">
    <h1>I GOT TALENT <small>User Profile</small></h1>
  </div>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>

</div>
