<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :type %><br>
    <%= f.text_field :type, :class => 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :genre %><br>
    <%= f.text_field :genre, :class => 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :duration_in_seconds %><br>
    <%= f.number_field :duration_in_seconds, :class => 'form-control' %>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">@</span>
    <%= f.text_field :url, :class => 'form-control', :placeholder => 'Video URL', 'aria-describedby' => 'basic-addon1' %>
  </div>
  <div class="input-group">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <br>
    <%= f.submit %>
  </div>
<% end %>
