<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Video:</strong>
  <%= @event.video %>
</p>

<!--http://youtu.be/xjQGhb1JqPo-->
<!--<iframe width="420" height="315" src="http://www.youtube.com/embed/xjQGhb1JqPo" frameborder="0" allowfullscreen></iframe>-->

<!--http://youtu.be/SkHsaqHF0Gc-->
<iframe width="420" height="315" src="http://www.youtube.com/embed/SkHsaqHF0Gc" frameborder="0" allowfullscreen></iframe>
<br/>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
